.iterations-table {
  width: 100%;
  border-collapse: collapse;
  position: relative;

  &__head {
    border-bottom: 1px solid black;

    th {
      width: calc(100% / 12);
      text-align: center;
      padding: 4px;
      position: sticky;
      top: 0;
      background-color: #fff;
    }
  }

  &__body {
    border-bottom: 1px solid black;

    tr {
      td {
        text-align: center;
        padding: 4px;

        &.error-cell {
          &--green {
            background-color: greenyellow;
          }

          &--red {
            background-color: lightcoral;
          }
        }

        &.input-cell {
          &--a {
            background-color: rgb(254, 196, 197);
          }

          &--b {
            background-color: rgb(178, 220, 255);
          }
        }
      }
    }
  }
}